* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: bisque;
    font-family: 'Big Shoulders Display', cursive;
}

#day {
    font-size: 1rem;
}

#month {
    font-size: 1rem;
}

#year {
    font-size: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

a {
    text-decoration: none;
    color: black;
}

.btn {
    margin: 20px;
    font-weight: 800;
    border-radius: 5px;
    text-align: center;
    height: fit-content;
    padding: 10px;
    box-shadow: 2px 4px 5px bisque;
    text-transform: uppercase;
    background-color: #68A7AD;
}

.btn:active {
    transform: translate(3%, 3%);
}

::placeholder {
    color: rgba(0, 0, 0, 0.4);
    font-weight: 600;
}
